@import url(/PROGRAMMER/css/theme/Colormixer/tokens.css);

* {
  color: white
}

body,
html {
  background: #171a20;
}

.应用栏 {
  background: #2c3956;
}

.mdui-typo-headline,
.mdui-typo-headline-opacity {
  color: #9bb0d8;
}

.mdui-dialog-alert {
  background: #2c3547;
}

.mdui-dialog>.mdui-dialog-title {
  color: white;
}

.mdui-toolbar>a {
  color: var(--md-ref-palette-primary90) !important;
}

textarea {
  border: 9px solid #374d76;
  box-shadow: 1px 1px 4px #99999959;
  background: #374d76;
  color: var(--md-ref-palette-primary90);
}

textarea:active {
  box-shadow: 2px 2px 20px #6e7199;
}

textarea:hover {
  box-shadow: 2px 2px 20px #53567b;
}

.子页面按钮 {
  background-color: var(--md-ref-palette-tertiary70);
  color: #001356;
  box-shadow: 2px 2px 12px #697380bd;
}

.mdui-btn-raised {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.12);
}

.mdui-menu {
  background-color: #354668;
  color: #bcd1f7;
  box-shadow: 0 3px 6px 0px rgb(26 27 51 / 21%);
}

.mdui-menu-item>a:hover {
  background-color: #4e5f80;
}

.抽屉栏_标题 {
  color: #d0ddf5;
}

.抽屉栏_标题_分割线 {
  border: 0.5px solid #dde1ff;
  background: #dde1ff;
}

.点火器>button {
  background-color: var(--md-ref-palette-primary40);
  color: var(--md-ref-palette-primary80);
}

.点火器>button:hover {
  background-color: #5160b3 !important;
}

.点火器>button:active {
  background-color: rgba(122, 139, 224, 0.258);
}

.题目展示框>div {
  background-color: #dde1ff;
}

input {
  opacity: 0;
}

.home_GeneratorFramework_QuestionsAndAnswers>input {
  opacity: 1;
}

.mdui-list-item:hover {
  background-color: rgba(94, 137, 190, 0.2);
}

.mdui-snackbar {
  box-shadow: 0px 3px 12px rgba(87, 87, 87, 0.638);
}

.mdui-overlay {
  background-color: rgba(0, 19, 86, 0.133);
}

.mdui-dialog-actions>a {
  background: #fbf8ff;
  color: #95a6fd !important;
}

.mdui-typo a {
  color: #95a6fd !important;
}

.mdui-typo a::before {
  background-color: rgba(0, 19, 86, 0.247);
}

.div {
  background-color: #dde1ff;
}

.div_a {
  background-color: #dde1ff;
}

.计数器 {
  color: #fefbff;
}

.计数器:active {
  box-shadow: 2px 2px 12px #93a1b5;
}

.开始抽背>.mdui-btn {
  border-radius: 25px;
  margin-right: 8px;
  margin-top: 8px;
  color: white;
  background-image: linear-gradient(21deg, #664fea, #ff3939f0);
  box-shadow: 7px 3px 20px rgb(255 0 1 / 50%), 0 10px 20px rgb(0 0 255 / 50%);
}

.开始抽背>.mdui-btn:hover {
  background: #0d1636;
  box-shadow: none;
}

.题目展示框>span {
  text-shadow: 9px 3px 22px white;
}

.mdui-dialog-content {
  color: #e5ecffe0;
  background: #2c3547;
}

.mdui-dialog-actions{
  background: #2c3547;
}

@keyframes rotate {
  from {
    transform: translate(-50%, 0) rotateZ(0deg);
  }

  to {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.subPageButton {
  background-color: #95a6fd;
  color: #fbf8ff;
  box-shadow: 2px 2px 12px #697380bd;
}

.drawerbar_Title_SplitLine {
  border: 0.5px solid #95a6fd;
  background: #95a6fd;
}

.igniter>button {
  background-color: rgba(58, 76, 156, 0.505);
  color: #434368d6;
}

.igniter>button:hover {
  background-color: #3a4c9c;
}

.igniter>button:active {
  background-color: #3a4c9c !important;
}

.topicDisplayBox>div {
  background: #f0efff;
}

.mdui-list-item:hover {
  background-color: rgba(94, 137, 190, 0.2);
}

.mdui-snackbar {
  box-shadow: 0px 3px 12px rgba(0, 10, 61, 0.638);
}

.mdui-overlay {
  box-shadow: 0px 3px 12px rgba(0, 10, 61, 0.134);
}

.mdui-dialog-actions>a {
  background: rgba(45, 64, 144, 0.536);
}

.mdui-typo a {
  color: #8ba9e7 !important;
}

.mdui-typo a::before {
  background-color: #5f6d8a;
}

.div {
  background: #6b73b2;

}

.div_a {
  background: #464a75;
}

.counter {
  color: #fff;
}

.mdui-dialog-actions .mdui-btn {
  background: #333656;
  color: #95a6fd !important;
}

.counter:active {
  box-shadow: 2px 2px 12px #93a1b5;
}

.home_Card {
  background-color: #3e425bbd;
  color: #334481;
}

.home_GeneratorScope_Sequence {
  color: #4f6aab;
}

.home_GeneratorFramework_QuestionsAndAnswers>input {
  color: #6660e5;
  background: #000c4963;
}

.home_GeneratorFramework_QuestionsAndAnswers>input:active {
  color: #413c9e;
}

.home_GeneratorFramework_OptionFillingBox {
  background-color: #454d68;
}

.home_GeneratorFramework_OptionFillingBox>span {
  background-color: #454d68;
}

.home_GeneratorFramework_OptionFillingBox>span>textarea {
  background-color: #454d68;

  border: 0;
}

.home_GeneratorFramework_OptionFillingBox>span>textarea:hover {
  background-color: #59669f;
}

.home_GeneratorFramework_OptionFillingBox_浮动操作栏 {
  background-color: #7688b68a;
}

.home_GeneratorFramework_OptionFillingBox_浮动操作栏>i:hover {
  background-color: #1f3f6f48;
}

.mdui-typo {
  color: #e5ecffe0;
}

.mdui-typo-title {
  color: var(--md-ref-palette-secondary70) !important;
}

.mdui-drawer {
  background-color: #171a20;
}

.抽屉栏_内容>li>div {
  color: var(--md-ref-palette-primary90);
}



.启动图>h1 {
  text-shadow: 2px 2px 20px #2646685c;
  color: #ccdbff;
}

.表单_输入框 {
    opacity: 1;
    position: unset;
    color: #a0a9dd !important;
}